<form class="form new-exercise-form" data-id="{{user_id}}">
	<div class="form-group">
		<label for="new-comment bg-light">Add a new exercise record:</label>
    
    <div class="form-group pb-2">
    <label for="date">Date:</label>
		<input class="form-input" type="text" id="date" />
    </div>

    <div class="form-group pb-2">
    <label for="detail">Exercise detail:</label>
    <input class="form-input" type="text" id="detail" />
    </div>

    <div class="form-group pb-2">
    <label for="duration">Duration:</label>
    <input class="form-input" type="text" id="duration" />
    </div>
    
		<button class="btn btn-primary" type="submit" id="newRecordBtn">
			Add
		</button>
	</div>
</form>

<script src="/js/exercise.js"></script>