<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Exercise Type</th>
			<th scope="col">Duration (mins)</th>
			<th scope="col">Calories Burnt (cal)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>(Indoor Running)</td>
			<td>(60)</td>
			<td>500</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>(Swimming)</td>
			<td>(30)</td>
			<td>430</td>
		</tr>
	</tbody>
</table>