{{! homepage = index page  }}

<div class="hptext p-4" style="color: white;">
	<h1>Welcome to Fit-Mate</h1>
	<br />
	<div class="d-grid">
		<a href="/login"><button class="btn btn-primary">Let's Get Started</button></a>
	</div>
</div>