{{! homepage = index page }}
<div class="card text-center bg-primary text-white  bg-opacity-75 hpp">
	<div class="card-body">
		<h2 class="card-title">Start training and stay motivated with Fit-Mate.com — for 
			<p class="h2" style="color: yellow;">FREE</p>
		</h2>
		<p class="card-text blockquote ">Stay motivated to consistently exercising isn't easy - we know. But with a profile on Fit-Mate, you'll get the
		tools you need to successfully take weight off - and keep it off. And best of all, you can signup for free, and
		get instant access to our great selection of exercise method, record your exercise date, duration, the total
		calories burnt will be calculated by scientific proven method, and share on leader board with all the users on
		the website.
		Study after study has confirmed the benefits of keeping track of the activity you do. It's simple - the more
		consistently you track your exercise record, the more likely you are to lose weight. That's why every successful
		weight management program suggests that you keep an exercise diary. But recording all the exercises without the
		right tools can be tedious at best, or simply impossible at worst.
		At FIT-MATE, we focus on making sure you can log your exercise as quickly and easily as possible. Because the
		easier we make it for you, the more likely you are to stay on track, and the more likely you are to succeed in
		your weight loss goals.</p>
	</div>
</div>

<div class="hptext p-4 bg-primary bg-opacity-75">
	<h1>Welcome to Fit-Mate</h1>
	<br />
	<div class="d-grid">
		<a href="/login"><button class="btn btn-light">Get Started</button></a>
	</div>
</div>