<div>
    <h1 style="text-decoration: underline;"><i class="bi bi-list-ol"></i> LEADERBOARD</h1>
    <div class="row align-items-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Sort by Calories Burnt</a>
            </li>
        </ul>
        
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">RANK</th>
                        <th scope="col">NAME</th>
                        <th scope="col">Total Calories Burnt</th>
                    </tr>
                </thead>
                <tb>
                    {{#if rank}}
                    {{#each rank as |rank|}}
                    {{> rank-details}}
                    {{/each}}
                    </tbody>
                    {{/if}}
            </table>
        </div>
    </div>
</div>