<div>
  <h1 style="text-decoration: underline;"><i class="bi bi-list-ol"></i>
    LEADERBOARD</h1>
  <p>This Leadeardord displays the rank based on the nunber of Calories Burnt</p>
  <div class="row align-items-center">
    {{! if sort by Calories Burnt }}
    <div class="col-8 border border-primary p-4" style="overflow: auto;">
      <div class="row g-0">
        <div class="col-3">
          <div class="border bg-light">RANK</div>
        </div>
        <div class="col-5">
          <div class="border bg-light">USERNAME</div>
        </div>
        <div class="col-4">
          <div class="border bg-light">CALORIES BURNT</div>
        </div>
      </div>
    </div>
  </div>
</div>