<div class="row justify-content-center">
	<div class="col-md-8">
		<h2>Login</h2>

		<form class="form login-form">
			<div class="form-group">
				<label for="email-login">EMAIL:</label>
				<input class="form-input" type="text" id="email-login" />
			</div>
			<div class="form-group">
				<label for="password-login">PASSWORD:</label>
				<input class="form-input" type="password" id="password-login" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">LOGIN</button>
			</div>
			<div class="form-group">
				<p class="text-muted">First-time Here?</p>
				<button class="btn btn-primary"><a href="/signup" class="text-reset">Signup instead</a></button>
			</div>
		</form>
	</div>

</div>


<script src="/js/login.js"></script>