.homepagebg {
	background-image: url("homepage-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
}

.hptext {
	position: fixed;
	top: 45%;
	left: 60%;
	/* background-color: #f8c471; */
	border-radius: 25px;
	color: white;
}

footer {
	margin-top: 40px;
}

.homepagebg {
	background-image: url("homepage-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
}

.hpp {
	/* background-color: #f8c471; */
	top: 26%;
	left: 13%;
	border-radius: 25px;
	max-width: 800px;
	width: 42vw;
}

a {
	color: inherit;
	text-decoration: none;
}

table {
	counter-reset: rowNumber;
}

table {
	counter-reset: no -1;
}

table tr {
	counter-increment: rowNumber;
}
table tr td:first-child::before {
	content: counter(rowNumber);
	min-width: 1em;
	margin-right: 0.5em;
}
